{% extends 'base.html.twig' %}

{% block title %}ProductAttributeRelation{% endblock %}

{% block body %}
    <h1>ProductAttributeRelation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_attribute_relation.id }}</td>
            </tr>
            <tr>
                <td>Product</td>
                <td>{{ product_attribute_relation.entity }}</td>
            </tr>
            <tr>
                <td>Attribute</td>
                <td>{{ product_attribute_relation.attribute }}</td>
            </tr>
            <tr>
                <td>Value</td>
                <td>{{ product_attribute_relation.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_attribute_relation_index') }}">back to list</a>

    <a href="{{ path('product_attribute_relation_edit', {'id': product_attribute_relation.id, 'type': product_attribute_relation.attribute.type.type}) }}">edit</a>

    {{ include('product_attribute_relation/_delete_form.html.twig') }}
{% endblock %}
